@import "../../styles/vars"

.container-question
  padding-right: 280px

  @media (max-width: $md)
    padding-right: 0

  .menu-wrapper
    display: none
    position: absolute
    top: 21px
    right: 21px
    z-index: 10
    cursor: pointer

    @media (max-width: $md)
      display: block

    img.menu
      width: 16px
      height: auto
