@import "../../../styles/vars"

.text
  font-weight: 600

  &-size-big
    font-size: $size-font-default * 2.8

    @media (max-width: $md)
      font-size: $size-font-default * 1.6

  &-size-medium
    font-size: $size-font-default * 1.6

    @media (max-width: $md)
      font-size: $size-font-default * .9
